#################
## General IDEs
#################
*.iml
.idea/
.project
.classpath
.settings/
*.launch

#################
## Maven
#################
target/
log/
.checkstyle

#################
## OS-specific files
#################
# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

#################
## Logs and temp files
#################
*.log
*.tmp
*.bak
*.swp

#################
## Custom outputs
#################
/out/
log

#################
## Python (if applicable)
#################
*.py[co]
dist/
build/

#################
## Custom (Add if you need!)
#################